<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259253169335-8fjl45gih8hlern29hht9bjhh2c0hk25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259253169335-8fjl45gih8hlern29hht9bjhh2c0hk25</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>259253169335-gkk8kihb7vvcdv6liig62uuedh6ro8g8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkZFM4DVWSSiwohczwByqjfYqNiPFiOfE</string>
	<key>GCM_SENDER_ID</key>
	<string>259253169335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackvine.comicwrapf</string>
	<key>PROJECT_ID</key>
	<string>comicwrap</string>
	<key>STORAGE_BUCKET</key>
	<string>comicwrap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259253169335:ios:e6be2153b2de0030893132</string>
</dict>
</plist>